:root{
  --bgc:lightcyan;
  --firstcolor:#2f327d;
  --secondcolor:#191a1c;
  --boxshadow:black;
}
.dark-theme{
  --firstcolor:rgb(0, 187, 255);
  --secondcolor:white;
  --bgc:rgb(0, 0, 0);
  --boxshadow: rgb(227, 209, 90);
}
* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  color: var(--secondcolor);
}
body{
  background-color: var(--bgc);
}
::selection {
  color:var(--firstcolor);
  background-color: #a883ff;
}
/* header */
.logo img {
  background-color:var(--bgc);
  animation:flicker 3s infinite ease-in-out;
}
.bg-cream {
  background-color: #fff2e1;
}
#name {
  font-size: 50px;
  color: var(--firstcolor);
  filter: drop-shadow(2px 2px 3px rgb(255, 243, 243));
  transition: all ease 0.5s;
  font-weight: 1000;
  width: 650px;
  font-family: 'Pixelify Sans', sans-serif;
  letter-spacing: 5px;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 30px;
  background-color:var(--bgc); 
}
.navbar .logo {
  display: flex;
  align-items: center;
}
.navbar .logo h4 {
  position: relative;
  margin-left: 8px;
  letter-spacing:5px;
  font-size: 20px;
}
.navbar .nav-list {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.navbar .nav-list li {
  list-style: none;
  font-size: 15px;
  transition: all ease 0.5s;
}
.navbar .nav-list li:active {
  scale: 0.9;
  color:var(--secondcolor);
}
.navbar .nav-list li a {
  text-decoration: none;
  color:var(--secondcolor);
  transition: all ease 0.5s;
  font-size: 20px;
}
.navbar .nav-list li a:hover {
  color: #aa6161;
}
.navbar .nav-list li a:active {
  color: #ed8080;
  scale: 0.9;
}
.navbar .nav-list button {
  border: none;
  padding: 10px 40px;
  border-radius: 20px;
  font-size: 15px;
  cursor: pointer;
}
.navbar .nav-list .login {
  background-color: #f48c06;
  transition: all ease 0.2s;
  color: #fff;
  font-size: 25px;
}
.navbar .nav-list .login a {
  text-decoration: none;
  color: #fff;
}
.navbar .nav-list .login:active {
  scale: 0.9;
  background-color: #e9a852;
}
.navbar .nav-list .signup {
  background-color: #f48c06;
  color: #fff;
  transition: all ease 0.2s;
  font-size: 25px;
}
.navbar .nav-list .signup a {
  text-decoration: none;
  color: #fff;
}
.navbar .nav-list .signup:active {
  scale: 0.9;
  background-color: #e9a852;
}
.navbar .nav-list .signup:hover{
  scale:1.1;
}
.navbar .nav-list .login:hover{
  scale:1.1;
}
.dropdown {
  position: relative;
  display: inline-block;
  padding: 20px;
  
}
.dropdown-content {
  display: none;
  overflow-y: scroll;
  max-height: 300px;
  position: absolute;
  font-size: 30px;
  font-style:oblique;
  background-color: var(--bgc);
  border: 2px solid var(--secondcolor);
  min-width: 260px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
  cursor: pointer;
  flex-direction: column;
}
.dropdown .dropdown-content ul li{
  font-size: 30px;
  font-family: 'Pixelify Sans', sans-serif ;
  padding: 20px 20px ;
  border: 2px solid var(--secondcolor);
  
}
.dropdown .dropdown-content ul li:hover{
  background-color:var(--bgc);
  box-shadow: 10px 10px 20px var(--boxshadow);
  
}
.dropdown:hover .dropdown-content  {
  display: flex;
}
.hamburger{
  display: none;
  flex-direction: column;
  gap: 5px;
  
  /* background-color: var(--bgc); */
  filter: none;
  image-rendering:unset;
}
.hamburger .line{
  width: 30px;
  height: 3px;
  transition: all 0.3s ease-in-out;
  background-color: black;
  border-radius: 5px;

}
.hamburger .line:nth-child(3){
  width: 15px;
  margin-left: auto;
}
.hero {
  border-bottom-left-radius: 20%;
  border-bottom-right-radius: 20%;
}
.hero .main {
  display: flex;
  align-items: center;
  padding: 0px 30px;
  background-color: var(--bgc);
  border-bottom-left-radius: 20%;
  border-bottom-right-radius: 20%;
  box-shadow: 10px 10px 30px cyan;
}
.hero .hero-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.hero .main .hero-content h2 {
  font-size: 3rem;
  color:var(--firstcolor);
}
.hero .main .hero-content span {
  color: #f48c06;
}
.hero .hero-content p {
  font-size: 25px;
}
.hero .hero-content button {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.hero .hero-content button {
  border: none;
  background-color: #f48c06;
  color: #fff;
  padding: 10px 30px;
  font-size: 20px;
  border-radius: 30px;
  font-weight: 600;
  transition: all ease 0.5s;
}
.hero .hero-content button:active {
  scale: 0.9;
  background-color: #e9a852;
}
.hero .hero-content button:hover{
  scale:1.1;
}
.hero .main .img img {
  width: 90%;
}
.partner {
  margin-top: 4rem;
}
.partner p {
  text-align: center;
  font-size: 17px;
  font-weight: 500;
  color: rgb(156, 163, 175);
}
.partner .img {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  margin-top: 1rem;
  filter: saturate(10);
}
.partner .img img {
  width: 100px;
}
.mt-4 {
  margin-top: 4rem;
}
.mt-5 {
  margin-top: 5rem;
}
.heading {
  text-align: center;
}
.heading h4 {
  font-size: 1.7rem;
  color: var(--firstcolor);
}
.heading h4 span {
  color: #f48c06;
}
.heading p {
  color: #6b7280;
  margin-top: 1rem;
  padding: 0% 15%;
}
.text-white {
  color: #fff;
}
.feature .feature-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  padding: 0px 30px;
  margin-top: 2rem;
}
.feature-card .card {
  padding: 30px 30px;
  text-align: center;
  border: 1px solid #e0e0e0;
  width: 230px;
  border-radius: 10px;
  cursor: pointer;
  transition:all ease 1s;
}
.feature-card .card:hover {
  background-color: #f3f0eced;
  width: 400px;
  font-size: larger;
}
.feature-card .card h4 {
  color: var(--firstcolor);
  font-weight: 600;
  font-size: 20px;
}
.feature-card .card p {
  color: #6b7280;
}

.intro .container {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-top: 3rem;
}
.intro .container .instructor {
  background-image: url("./assets/images/instructer.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 280px;
  width: 420px;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  animation: leftmove 8s infinite ease-in-out;
}
@keyframes leftmove {
  0%{
    transform:translateX(0px);
  }
  50%{
    transform:translateX(-70px);
  }
  100%{
    transform:translateX(0px);
  }
  
}
.intro .container .student {
  background-image: url("./assets/images/student\ .png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 280px;
  width: 420px;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  animation: move 8s infinite ease-in-out;
}
@keyframes move {
  0%{
    transform:translateX(0px);
  }
  50%{
    transform:translateX(70px);
  }
  100%{
    transform:translateX(0px);
  }
}
.intro .platform h4 {
  color: #fff;
}
.intro .instructor button {
  border: 1px solid #fff;
  border-radius: 20px;
  background-color: transparent;
  color: #fff;
  font-weight: 500;
  padding: 10px 30px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.intro .student button {
  border: none;
  background-color: rgba(35, 189, 238, 0.9);
  padding: 10px 30px;
  color: #fff;
  border-radius: 20px;
  cursor: pointer;
  font-weight: 500;
  transition: 0.3s ease-in-out;
}
.intro button:hover {
  transform: scale(1.1, 1.1);
}
.mt-6 {
  margin-top: 6rem;
}
.everything .main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 30px;
}
.everything .content {
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: relative;
  margin-left: 100px;
}
.everything .orange-circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #f4f006;
  position: absolute;
  z-index: -1;
  top: -13px;
  left: -15px;
  animation: flicker 2s infinite ease-in-out;
}
@keyframes flicker {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
.everything .content h4 {
  font-size: 22px;
  color: var(--firstcolor);
  font-weight: 600;
}
.everything .content span {
  color: #f48c06;
}
.everything .content p {
  color: #6b7280;
}
.everything .content a {
  color: #6b7280;
}
.everything .img {
  position: relative;
  z-index: 1;
  margin-right: 100px;
}
.everything .img img {
  width: 400px;
}
.everything .blue {
  position: absolute;
  top: -15px;
  left: -15px;
  width: 100px;
  height: 100px;
  background-color: #23bdee;
  border-radius: 10px;
  z-index: -1;
  animation: floating 3s infinite ease-in-out;
}
.everything .orange {
  width: 150px;
  height: 150px;
  background-color: #f48c06;
  border-radius: 10px;
  position: absolute;
  bottom: -5px;
  right: -15px;
  z-index: -2;
  animation: floating 3s infinite ease-in-out;
}
@keyframes floating {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}

mb-5 {
  margin-bottom: 5rem;
}
.user-interface .main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 30px;
  margin-top: 9rem;
}
.user-interface .main .img {
  position: relative;
  margin-left: 100px;
}
.user-interface .main .img img {
  width: 500px;
  animation: floating 3s infinite ease-in-out;
}
.user-interface .green,
.user-interface .blue {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  position: absolute;
}
.user-interface .green {
  background-color: #33efa0;
  top: -15%;
  z-index: -1;
  left: 5%;
  animation: flicker 2s infinite ease-in-out;
}
.user-interface .blue {
  background-color: #5b72ee;
  bottom: 0px;
  z-index: -1;
  right: 20%;
  animation: flicker 2s infinite ease-in-out;
}
.user-interface .content {
  width: 40%;
}
.user-interface .content h4 {
  color: var(--firstcolor);
  font-size: 22px;
  font-weight: 600;
}
.user-interface .content span {
  color: #f48c06;
}
.user-interface .content .list li {
  list-style: none;
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}
.user-interface .list p {
  color: #6b7280;
}
.tool .main {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0px 30px;
}
.content {
  width: 30%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.content h4 {
  font-weight: 600;
  color: var(--firstcolor);
  font-size: 30px;
}
.content span {
  color: #f48c06;
}
.content p {
  color: #6b7280;
}
.img img {
  width: 500px;
  filter: drop-shadow(5px 2px 10px #00BBFF);
}

.test .main {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.test .img img {
  width: 400px;
}

.management .main {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.discussion .main {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.discussion .img img {
  width: 450px;
}
.btn {
  text-align: center;
}
.mt-2 {
  margin-top: 2rem;
}
.more {
  border: 1px solid #f48c06;
  padding: 10px 30px;
  background-color: #fff;
  color: #f48c06;
  border-radius: 20px;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
  transition: scale 0.3s ease;
}
.more:hover{
  scale:1.1;
}
.integration .main {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.integration .img img {
  width: 300px;
}
small {
  display: flex;
  align-items: center;
  color: #9ca3af;
  font-size: 15px;
}
.line {
  width: 60px;
  height: 2px;
  background-color: #e0e0e0;
  margin-right: 1.3rem;
}
.integration h4 {
  line-height: 2.5rem;
}
.integration .content button {
  border: 1px solid #f48c06;
  color: #f48c06;
  font-size: 17px;
  font-weight: 500;
  background-color: #fff;
  border-radius: 30px;
  padding: 10px 10px;
  width: 200px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.integration .content button:hover{
  scale:1.1;
}
.payment{
  margin: 80px;
}
.payment.main{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 300px;
  gap:1.1em;
}
.payment.main.content{
  justify-content:space-evenly;
  align-items: center;
  display: flex;
  margin-left: 90px;
  flex-direction: row;
}
.payment .main img{
  float: right;
  margin: 1em;
  max-height: 200px;
  margin-right:100px;
}
footer {
  background-color: #252641;
  text-align: center;
  padding: 30px 20px;
}
footer .logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .logo .square{
    width: 30px;
    position: absolute;
    height: 30px;
    border: 2px solid #23bdee;
    border-radius: 5px;
    transform: rotate(45deg);
}
footer .logo h4 {
  position: relative;
  top: 0;
  color: #fff;
  left: 20px;
}
.v-line {
  width: 1px;
  height: 60px;
  background-color: #9ca3af;
  margin-left: 1.5rem;
}
footer .edu-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.edu-logo span {
  width: 100px;
  color: #fff;
  font-size: 15px;
}

footer .subscribe-letter h5 {
  color: rgb(209, 213, 219);
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 0.5rem;
}
footer .subscribe-letter input {
  border: 1px solid #9ca3af;
  background-color: transparent;
  padding: 8px 20px;
  border-radius: 25px;
  width: 180px;
  font-size: 15px;
  font-weight: 500;
  color: white ;
}
footer .subscribe-letter button {
  background: linear-gradient(
    105.5deg,
    rgb(151, 154, 255) 19.57%,
    rgb(57, 63, 207) 78.85%
  );
  border: none;
  padding: 10px 20px;
  color: #fff;
  font-size: 15px;
  border-radius: 20px;
  cursor: pointer;
  transition: all ease 0.5s;
}
.subs:active {
  scale: 0.9;
}

footer .links a {
  color: #9ca3af;
  text-decoration: none;
  font-size: 13px;
  padding: 0px 10px;
}
footer .links a:nth-child(1),
footer .links a:nth-child(2) {
  border-right: 1px solid #9ca3af;
}
footer .copyright p {
  color: #9ca3af;
  font-size: 13px;
  margin-top: 1rem;
}
.bot {
  transition: all ease 0.5s;
}
.bot:hover {
  color: #ffff;
}

@media only screen and (max-width: 767px){
 body{
  overflow-x: hidden !important;
 }
  .hamburger{
      display: flex;
      position: absolute;
      top: 100px;
      height: 30px;
      width: 50px;
  }
  .hamburger.active .line:nth-child(1) {
      transform: translateY(10px) rotate(45deg);
  }
  .hamburger.active .line:nth-child(2) {
      opacity: 0;
  }
  .hamburger.active .line:nth-child(3) {
      width: 30px;
      transform: translateY(-6px) rotate(-45deg);
  }
  .navbar ul{
      position: fixed;
      left: -100%;
      top: 6rem;
      flex-direction: column;
      background-color: #fff2e1;
      width: 100%;
      height: 100vh;
      transition: 0.3s;
      padding-top: 3rem;
  }
  .nav-list.active{
      left: 0;
  }
  

  .hero .main{
      display: flex;
      flex-direction: column;
      padding-top: 3rem;
  }
  .hero .hero-content{
      text-align: center;
  }
  .hero .hero-content .buttons{
      display: flex;
      flex-direction: column;
  }
  .intro .container{
      display: flex;
      flex-direction: column;
      padding: 0px;
      width: 100%;
  }
  .intro .container .platform{
      width: 350px;
      display: flex;
      text-align: center;
      align-items: center;
      background-size: contain;
      height: 280px;
      margin: auto;
  }

  .main{
      display: flex;
      flex-direction: column;
      gap: 3rem;
  }
  .main .img{
      width: 90%;
      filter: none;
  }
  .main .img img{
      width: 100%;
      filter: none;
  }
  .everything .content{
      align-self: flex-start;
      width: 80%;
  }
  .user-interface .img{
      width: 90%;
      filter: none;
  } 
  .user-interface .img img{
      width: 100%!important;
  }
  .user-interface .green,.user-interface .blue{
      width: 20%;
      height: 28%;
  }
  .user-interface .main .content{
      align-self: flex-start;
      width: 90%;
  }
  .tool .main .content{
      align-self: flex-start;
      width: 90%;
  }
  .test .main{
      flex-direction: column-reverse;
  }
  .management .main img{
      width: 90%;
      filter: none;
  }
  .discussion .main{
      flex-direction: column-reverse;
  }
  .discussion .main .img img{
      padding: 0px 10px;
      filter: none;
  }
  .testimonial .main{
      flex-direction: column-reverse;
      padding: 0px 30px;
  }

  .main .content{
      width: 80%;
  }
}

@media only screen and (max-width: 890px){
  .blog-container{
      flex-direction: column;
  }
  .blog-container .main-blog{
      align-self: center;
      width: 80%!important;
  }
  .blog-container .main-blog img{
      width: 100%;
  }
  .blog-container .blog-post{
      width: 80%;
      align-self: center;
  }
  .blog-container .blog-post img{
      width: 70%!important;
  }
  
}
@media only screen and (max-width: 567px){
  .blog-container .blog-post{
      width: 100%;
      /* align-self: center; */
  }
  .navbar{
    flex-shrink: 1;
  }
}
@media only screen and (max-width: 420px){
  .blog-container .blog-post .post h4{
      font-size: 12px;
  }
}

@media only screen and (max-width: 677px){
  .blog-container .blog-post img{
      width: 100%!important;
  }
}
@media only screen and (max-width: 380px) {
  footer .subscribe-letter .form{
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1rem;
  }

}
